<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mic</key>
	<string>云朵直播没有授权访问您的麦克风，您可以打开系统“设置&gt;隐私&gt;麦克风”允许云朵直播访问您的麦克风</string>
	<key>Camera</key>
	<string>云朵直播没有授权访问您的相机，您可以打开系统“设置&gt;隐私&gt;相机”允许云朵直播访问您的相机</string>
	<key>Album</key>
	<string>云朵直播没有授权访问您的相册，您可以打开系统“设置&gt;隐私&gt;相册”允许云朵直播访问您的相册</string>
</dict>
</plist>
